{{ define "header" }}
<!DOCTYPE html>
<html lang="cn">
<head>
    <title>{{ .PageTitle }}</title>
    <!--可以在收藏夹中显示出图标-->
    <link rel="Bookmark" type="image/png" href="/statics/img/q.png" />
    <!--可以在地址栏中显示出图标-->
    <link rel="icon" type="image/png" href="/statics/img/q.png" />
    <link rel="shortcut icon" type="image/png" href="/statics/img/q.png" />
    <link type="text/css" rel="stylesheet" href="/statics/css/materialize.min.css" media="screen,projection" />
</head>


<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><i class="material-icons"></i>Q-STOCK</a>
        </div>
    </nav>

</header>

<main class="container">
    {{ if .Error }}
    <div class="row">
        <div class="chip flow-text orange lighten-1 col s12 center-align">
            {{ .Error }}
            <i class="close material-icons">close</i>
        </div>
    </div>
    {{ end }}
{{ end }}

{{ define "footer" }}
</main>

<script type="text/javascript" src="http://cdn.axiaoxin.com/js/jquery-3.6.0.min.js" ></script>
<script type="text/javascript" src="http://cdn.axiaoxin.com/js/materialize.min.js" ></script>
<script type="text/javascript" src="http://cdn.axiaoxin.com/js/tableExport.js" ></script>
<script type="text/javascript" src="http://cdn.axiaoxin.com/js/clipboard.min.js" ></script>
<script type="text/javascript" src="http://cdn.axiaoxin.com/js/chart.xkcd.min.js" ></script>

<script type="text/javascript" src={{ if eq .Env "prod" }}"http://cdn.axiaoxin.com/x-stock/js/app.min.20211015-091454.js"{{ else }}"/statics/js/app.js"{{ end }} ></script>
<script data-ad-client="ca-pub-3022214826355647" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EHXJT6J0DM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EHXJT6J0DM');
</script>
</body>
</html>
{{ end }}
